@model ProductsManagementSystemWithMVC.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>





<form action="@Url.Action("Edit","Product", new { id = Model.ProductID })" method="post">
    <!--first row-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ProductName">Product Name</label>
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            <input type="text" class="form-control" id="ProductName" placeholder="Product Name" name="ProductName" value="@Model.ProductName">
        </div>
        <div class="form-group col-md-6">
            <label>Price</label>
            <input type="number" class="form-control" id="Price" placeholder="Price" name="Price" value="@Model.Price">
        </div>
    </div>
    @{ 
        string dateOfPurchase = "";
        if(Model.DateOfPurchase.HasValue)
        {
            dateOfPurchase = Model.DateOfPurchase.Value.ToString("yyyy-MM-dd");
        }
    }
    <!--second row-->
    <div class="form-row">

        <div class="form-group col-md-6">
            <label>DateOfPurchase</label>
            <input type="date" class="form-control" id="DateOfPurchase" placeholder="Date Of Purchase" name="DateOfPurchase" value="@dateOfPurchase">
        </div>
        <div class="form-group col-md-6">
            <label>AvailabilityStatus</label>
            <input type="text" class="form-control" id="AvailabilityStatus" placeholder="AvailabilityStatus" name="AvailabilityStatus" value="@Model.AvailabilityStatus">
        </div>
    </div>
    <!--third row-->
    <div class="form-row">

        <div class="form-group col-md-6">
            <label>CategoryID</label>
            <input type="text" class="form-control" id="CategoryID" placeholder="CategoryID" name="CategoryID" value="@Model.CategoryID">
        </div>
        <div class="form-group col-md-6">
            <label>BrandID</label>
            <input type="text" class="form-control" id="BrandID" placeholder="BrandID" name="BrandID" value="@Model.BrandID">
        </div>
    </div>

    <!--check box-->
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Active" name="Active" checked="@Model.Active" value="true">
            <label class="form-check-label" for="Active">
                Active
            </label>
        </div>
    </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="@Url.Action("Index","Product")">Cancel</a>

</form>
