@model List<ProductsManagementSystemWithMVC.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<a href="@Url.Action("Create","Product")">Create Product</a>

<table class="table">

    <thead>
        <tr class="table-secondary">
            <th style="width:10%">
                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                   
                   
                 <a href="@Url.Action("Index", "Product", new {SortColumn = "ProductID", IconClass="fa-sort-asc"})">Product ID</a>
                    if (ViewBag.SortColumn == "ProductID")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
                  <a href="@Url.Action("Index", "Product", new {SortColumn = "ProductID", IconClass="fa-sort-desc"})">Product ID</a>
                   
                    if (ViewBag.SortColumn == "ProductID")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
            </th>
            <th style="width:25%">
                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                    <a href="@Url.Action("Index", "Product", new {SortColumn = "ProductName", IconClass="fa-sort-asc"})">Product Name</a>
                    if (ViewBag.SortColumn == "ProductName")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
                    <a href="@Url.Action("Index", "Product", new {SortColumn = "ProductName", IconClass="fa-sort-desc"})">Product Name</a>

                    if (ViewBag.SortColumn == "ProductName")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }


            </th>
            <th style="width:5%">

                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                    <a href="@Url.Action("Index", "Product", new {SortColumn = "Price", IconClass="fa-sort-asc"})">Price</a>
                    if (ViewBag.SortColumn == "Price")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
            <a href="@Url.Action("Index", "Product", new {SortColumn = "Price", IconClass="fa-sort-desc"})">Price</a>

                    if (ViewBag.SortColumn == "Price")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }

            </th>
            <th style="width:10%">

                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "DateOfPurchase", IconClass = "fa-sort-asc" })">Date of Purchase</a>
                    if (ViewBag.SortColumn == "DateOfPurchase")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
                     <a href="@Url.Action("Index", "Product", new { SortColumn = "DateOfPurchase", IconClass = "fa-sort-desc" })">Date of Purchase</a>

                    if (ViewBag.SortColumn == "DateOfPurchase")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }

                </th>
            <th style="width:10%">

                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "AvailabilityStatus", IconClass = "fa-sort-asc" })">Availability</a>
                    if (ViewBag.SortColumn == "AvailabilityStatus")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
            <a href="@Url.Action("Index", "Product", new { SortColumn = "AvailabilityStatus", IconClass = "fa-sort-desc" })">Availability</a>

                    if (ViewBag.SortColumn == "AvailabilityStatus")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }


            </th>
            <th style="width:10%">

                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "CategoryID", IconClass = "fa-sort-asc" })">Categoty</a>
                    if (ViewBag.SortColumn == "CategoryID")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "CategoryID", IconClass = "fa-sort-desc" })">Categoty</a>

                    if (ViewBag.SortColumn == "CategoryID")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }


            </th>
            <th style="width:8%">

                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "BrandID", IconClass = "fa-sort-asc" })"> Brand</a>
                    if (ViewBag.SortColumn == "BrandID")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "BrandID", IconClass = "fa-sort-desc" })">Brand</a>

                    if (ViewBag.SortColumn == "BrandID")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }

            </th>
            <th style="width:5%">

                @if (ViewBag.IconClass == "fa-sort-desc")
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "Active", IconClass = "fa-sort-asc" })"> Active</a>
                    if (ViewBag.SortColumn == "Active")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }
                else
                {
                    <a href="@Url.Action("Index", "Product", new { SortColumn = "Active", IconClass = "fa-sort-desc" })">Active</a>

                    if (ViewBag.SortColumn == "Active")
                    {
                        <i class="fa @ViewBag.IconClass"></i>
                    }
                }



            </th>
            <th style="width:17%"></th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
        <tr>
            <td>@product.ProductID</td>
            <td>@product.ProductName</td>
            <td>@product.Price.Value.ToString("C")</td>
            <td>@product.DateOfPurchase.Value.ToString("d/M/yy")</td>
            <td>@product.AvailabilityStatus</td>
            <td>@if(product.Category!= null)
            {
                <span>@product.Category.CategoryName</span>
            }
            </td>
            <td>
                @if (product.Brand != null)
                {
                  <span>@product.Brand.BrandName</span>
                }
                    </td>
            <td>@product.Active</td>
            <td>
               <a href="@Url.Action("Details","Product", new {id=@product.ProductID})">Details</a> |
               <a href="@Url.Action("Edit","Product", new {id=@product.ProductID})">Edit</a> |
               <a href="@Url.Action("Delete","Product", new {id=@product.ProductID})">Delete</a> |
            </td>
        </tr>
            
        }


    </tbody>
</table>

