
@model ProductsManagementSystemWithMVC.Identity.ApplicationUser

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}

<h2>MyProfile</h2>

<table class="table-bordered">
    <tr>
        <th>Username</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>City</th>
        <td>@Model.City</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
</table>

<a href="@Url.Action("Index","Home")">Back</a>

