
@{
    ViewBag.Title = "Request HTTP Example";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}



        <table class="table">
            <tr>
                <td>URL</td>
                <td>@ViewBag.Url</td>
            </tr>
            <tr>
                <td>Physical Application Path</td>
                <td>@ViewBag.PhysicalApplicationPath</td>
            </tr>
            <tr>
                <td>Path</td>
                <td>@ViewBag.Path</td>
            </tr>
            <tr>
                <td>BrowserType</td>
                <td>@ViewBag.BrowserType</td>
            </tr>
            <tr>
                <td>QueryString</td>
                <td>@ViewBag.QueryString</td>
            </tr>
            <tr>
                <td>Header</td>
                <td>@ViewBag.Header</td>
            </tr>
            <tr>
                <td>Method</td>
                <td>@ViewBag.Method</td>
            </tr>
        </table>
  
