@{
    ViewBag.Title = "Student Details";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}




    @{
        //this is a razor code block
        string StudentResult;
        if (ViewBag.Marks >= 35)
        {
            StudentResult = "Pass";
        }
        else
        {
            StudentResult = "Fail";
        }
    }
    
        <table class="table">
            <tr>
                <td>StudentId</td>
                <td>@ViewBag.StudentId</td><!--razor experssions-->
            </tr>
            <tr>
                <td>Student Name</td>
                <td>@ViewBag.StudentName</td>
            </tr>
            <tr>
                <td>Marks</td>
                <td>@ViewBag.Marks</td>
            </tr>
            <tr>
                <td>Result</td>
                <td>@StudentResult</td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (StudentResult == "Pass")
                    {
                        <span class="text-success">Congratulations</span>
                    }
                    else
                    {
                        <span class="text-danger">Better luck next time</span>
                    }

                </td>
            </tr>
            <tr>
                <td>Semsters</td>
                <td>
                    <ul>
                        @for (int i = 1; i <= ViewBag.NoOfSemesters; i++)
                        {
                            <li>@i</li>

                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Subjects</td>
                <td>
                    <ul>

                        @foreach (string value in ViewBag.Subjects)
                        {
                            <li>@value</li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    
