@model ProductsManagementSystemWithMVC.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminALayoutPage1.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Product", new { area = "Admin" }, FormMethod.Post, new { id = Model.ProductID, enctype = "multipart/form-data" }))
{


        <!--first row-->
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(item => item.ProductName)
                @Html.TextBoxFor(temp => temp.ProductID, new { value = Model.ProductID, @type = "hidden" })
                @Html.TextBoxFor(temp => temp.ProductName, new { placeholder = Model.ProductName, @class = "form-control" })
                               
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(item=>item.Price)
                @Html.TextBoxFor(item=>item.Price, new {placeholder=Model.Price, value=Model.Price})
                
            </div>
        </div>
       
            string dateOfPurchase = "";
            if (Model.DOP.HasValue)
            {
                dateOfPurchase = Model.DOP.Value.ToString("yyyy-MM-dd");
            }
        
        <!--second row-->
        <div class="form-row">

            <div class="form-group col-md-6">
                @Html.LabelFor(item=>item.DOP)
               <input type="date" class="form-control" id="DateOfPurchase" placeholder="Date Of Purchase" name="DateOfPurchase" value="@dateOfPurchase">
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(item => item.AvailabilityStatus, new { @class = "form-check-label" })
               
                <div class="form-check">
                    @Html.RadioButtonFor(temp => temp.AvailabilityStatus, "OutOfStock",  
                   new { id = "OuOfStock", @class = "form-check-input" })
                
                    <labal class="form-check-label" for="OutOfStock">Out of Stock</labal>

                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(temp => temp.AvailabilityStatus, "InStock",
                   new { id = "InStock", @class = "form-check-input" })
                    <labal class="form-check-label" for="InStock">in Stock</labal>

                </div>
            </div>
       </div>
        <!--third row-->
        <div class="form-row">

            <div class="form-group col-md-6">

                @Html.LabelFor(item => item.CategoryID)

                @Html.DropDownListFor(item => item.CategoryID, new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"), "Please Select", new { @class = "form-control" })

            </div>


            <div class="form-group col-md-6">
               @Html.LabelFor(item=>item.BrandID)
                @Html.DropDownListFor(item=>item.BrandID, new SelectList(ViewBag.Brands, "BrandID", "BrandName"),"Please Select",new {@class="form-control"})
               

               
            </div>
        </div>

        <!--check box-->
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Active" name="Active" checked="@Model.Active" value="true">
                <label class="form-check-label" for="Active">
                    Active
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="@Url.Action("Index","Product", new {Area="Admin"})">Cancel</a>

   
}



